.joinRoomContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.joinRoomContainer h1 {
    font-weight: 100;
    margin-bottom: 2em;
}

.joinRoomContainer input {
    display: block;
    align-self: center;

    text-align: center;
    
    padding: 10px 20px;
    
    margin: auto;
    margin-bottom: 20px;
}

.inputContainer {
    margin-bottom: 2em;
}

.joinRoomContainer button {
    display: block;

    margin: 40px auto;
}
