.join-room-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.join-room-container h1 {
    margin-bottom: 30px;
}

.join-room-container input {
    padding: 10px 20px;
    align-self: center;
    text-align: center;
    transition: 0.2s;
    outline: none;
    margin-bottom: 40px;
    border: 1px solid black;
}

.join-room-container button {
    cursor: pointer;
    transition: 0.2s;
    padding: 10px 20px;
    background: none;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

.join-room-container button:hover {
    background: black;
    color: white;
}
