.dashboardContainer {
    margin: 0 auto;
    display: block;
}

.profileHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
    align-items: stretch;
    gap: 2rem;
}

.btn {
    display: flex;
    color: var(--white);
    text-align: left;
    background: var(--navy);
    padding: 0rem 3rem 0rem 1rem;
    font-size: 15px;
}

.createBtn {
    align-self: center;
}

.profileBtn p {
    opacity: 0.8;
}

.iconContainer {
    align-self: center;
    margin-left: 50px;
    font-size: 20px;
}

.profileHeader input {
    text-align: center;
    padding: 0rem 1rem;
    display: flex;
    gap: 2rem;
    background: var(--navy);
    width: 30%;
    border-radius: 3px;
    margin: 0 50px;
}

.profileHeader input::placeholder {
    color: var(--white);
    opacity: 0.7;
}

.classesContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.noQuizzes {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.noQuizzes h1 {
    font-size: 20px;
    font-weight: 100;
}

.noQuizzLink {
    color: var(--navy);
    transition: 0.15s;
}

.noQuizzLink:hover {
    color: var(--pink);
}
