.button {
	color: var(--text);
	background: none;

	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1.5px;

	padding: 10px 30px;

	border: 1px solid var(--border);
	border-radius: 3px;

	cursor: pointer;
	user-select: none;

	transition: 0.15s;

	display: flex;
	gap: 16px;
	align-items: center;
}

.button:hover {
	background: var(--hover-background);
	color: var(--hover-text);
}
