.cardContainer {
    padding: 10px 10px;
    width: 70%;
    border-radius: 3px;
    border: 1px solid var(--navy);
}

.clickContainer {
    cursor: pointer;
    width: 80%;
    transition: 0.15s;
}

.clickContainer:hover {
    color: var(--pink);
}

.flexedContainer {
    display: flex;
    justify-content: space-between;
}

.cardContainer h1 {
    font-size: 20px;
    font-weight: 100;
}

.iconsContainer {
    display: flex;
}

.iconContainer {
    font-size: larger;
    margin-top: 5px;
    margin-right: 20px;
    align-self: center;
    cursor: pointer;
    transition: 0.15s;
}

.iconContainer:hover {
    color: var(--pink);
}
