.contentContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.containersContainer {
    display: flex;
}

.container h1 {
    font-weight: 100;
    margin-bottom: 50px;
}

.container input {
    padding: 10px 50px;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
    display: block;
}

.container button {
    display: block;
    margin: 0 auto;
}

.linkContainer {
    margin-top: 30px;
}

.linkContainer a {
    color: var(--navy);
    transition: 0.15s;
}

.linkContainer a:hover {
    color: var(--pink);
}