.room-container {
    margin-top: 20px;
}

.title {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.questionContainer {
    display: flex;
    justify-content: center;
}

.questions {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
