.contentContainer {
    text-align: center;
    display: flex;
    margin: 0 auto;
    display: block;
}

.create-or-manage-container {
    margin: 50px;
}

.create-or-manage-container h1 {
    margin-bottom: 30px;
}

.create-or-manage-container input {
    padding: 10px 50px;
    align-self: center;
    text-align: center;
    transition: 0.2s;
    outline: none;
    margin-bottom: 40px;
    border: 1px solid black;
}

.create-or-manage-container button {
    cursor: pointer;
    transition: 0.2s;
    padding: 10px 20px;
    background: none;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

.create-or-manage-container button:hover {
    background: black;
    color: white;
}
