.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    margin: 30px;
}

.container label {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 8px;
}
