.responses-container {
    text-align: center;
}

.responses-button-page-container {
    margin: 20px auto;
}

.responses-container button {
    cursor: pointer;
    transition: 0.2s;
    margin: 10px;
    padding: 10px 20px;
    background: none;
    border: 1px solid black;
}

.responses-container button:hover {
    background: black;
    color: white;
}