.button {
    padding: 10px 35px;
    background: var(--dark-grey);
    border: 2px solid var(--grey);
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 3px;
    transition: 0.15s;
    font-family: var(--font-family);
}

.button:hover {
    border-color: var(--white);
    color: var(--grey);
    background: var(--white);
}
