.manage-container {
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.manage-container div {
    display: flex;
}

.manage-link {
    margin: 50px;
    color: black;
    transition: 0.2s;
    text-decoration: none;
}

.manage-link:hover {
    text-decoration: underline;
}
