.modal-container {
    position: sticky;
    top: 0;
    margin: 10px;
    z-index: 99;
    background: white;
}

.md-editor {
    margin: auto;
}

.close-modal-button {
    position: absolute;
    margin: 20px;
    right: 0;
    font-size: 30px;
    cursor: pointer;
}
