.questions-container {
    text-align: center;
    margin-top: 20px;
}

.questions-container input {
    padding: 10px 50px;
    align-self: center;
    text-align: center;
    transition: 0.2s;
    outline: none;
    margin-bottom: 40px;
    border: 1px solid black;
}

.questions-container button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    transition: 0.2s;
    border: 1px solid black;
}

.questions-container button:hover {
    background: black;
    color: white;
}

.md-editor {
    width: 1000px !important;
    height: 400px !important;
}

.questions-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.edit-question-content {
    margin-bottom: 50px;
    width: 40vw;
    align-self: center;
    padding: 20px 20px;
    border: 1px solid black;
}

.edit-question-content h3 {
    cursor: pointer;
    transition: 0.2s;
}

.edit-question-content h3:hover {
    color: maroon;
}

.edit-question-content nav {
    float: right;
}

.edit-quesiton-nav-icon {
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.2s;
}

.edit-quesiton-nav-icon:hover {
    color: maroon;
}
