.questions-container {
    text-align: center;
    margin-top: 20px;
}

.questions-container button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: none;
    transition: 0.2s;
    border: 1px solid black;
}

.questions-container button:hover {
    background: black;
    color: white;
}

.code-editor {
    margin-top: 20px;
    width: 500px;
    height: 200px;
    font-size: larger;
    font-weight: bold !important;
    font-family: 'Roboto', sans-serif !important;
    background-color: #959cbd;
}

.questions-container input {
    padding: 10px 20px;
    align-self: center;
    text-align: center;
    transition: 0.2s;
    outline: none;
    margin-bottom: 40px;
    border: 1px solid black;
}