.questionContainer {
    width: 100%;
    margin: 0 20%;
    margin-bottom: 4rem;
}

.questionContainer h1 {
    font-size: 20px;
}

.content {
    padding: 10px;
    border-radius: 3px;
}

.frqBox {
    resize: vertical;
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--navy);
    width: 100%;
    margin-top: 1rem;
    height: 20rem;
    font-size: 15px;
    transition: 0.15s;
    background: none;
    padding: 1rem;
}

.frqBox:focus {
    background: rgba(0, 0, 0, 0.103);
}

.choiceContainer {
    display: flex;
}

.choiceContainer input {
    margin-right: 1rem;
}
