.questionContainer {
    margin-bottom: 4rem;
}

.content {
    padding: 10px;
    border-radius: 3px;
}

.frq-section {
    resize: vertical;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
    outline: none;
    height: 60%;
    padding: 10px;
}

.optionsContainer {
    float: left !important;;
    margin-top: 20px;
}

.choiceContainer {
    display: flex;
}

.choiceContainer input {
    margin-right: 1rem;
}
