.question-container {
    margin-bottom: 50px;
    width: 40vw;
    align-self: center;
}

.q {
    padding: 10px;
}

.frq-section {
    resize: vertical;
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
    outline: none;
    height: 60%;
    padding: 10px;
}

.options-container {
    float: left !important;;
    margin-top: 20px;
}

.choice-container {
    display: flex;
}

.choice-container input {
    margin-right: 20px;
}
