.link {
    color: var(--white);
    font-size: 18px;
    text-decoration: none;
    transition: 0.15s;
    position: relative;
}

.link:after {
    content: '';
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.link:hover:after {
    width: 100%;
    left: 0;
}

.active:after {
    width: 100%;
    left: 0;
    background: var(--pink);
}
