@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --white: #ffffff;
    --dark-grey: #141414;
    --secondary-dark-grey: #0d0c11;
    --grey: #1e1e1e;
    --secondary-grey: #222327;
    --light-grey: #49535f;
    --secondary-light-grey: #c0c0c0;


    --pink: #ea899a;
    --navy: #1b1e3b;
    --red: #e74c3c;
    --green: #27ae60;
    --orange: #f39c12;
}

body {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: none;

    background: var(--grey);
    color: var(--white);
}
